@model List<BurgerPrince.Models.MenuItem>

@{
    ViewBag.Title = "Burger Prince";
}

<div class="jumbotron text-center">
    <h2>Welcome to Burger Prince!</h2>
    <p class="lead">Try our mouth-watering Whopper!</p>
    @*<a href="https://github.com/richardkronick/BurgerPrince" target="_blank">Download this application from GitHub</a>
        <p style="font-size: small">(In addition to what you see here, this application also keeps track of inventory. Test by trying to buy more than 5 of Orange Juice.)</p>*@
</div>

<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#burgers" data-toggle="tab" aria-expanded="true">Burgers</a></li>
            <li class=""><a href="#sides" data-toggle="tab" aria-expanded="false">Sides</a></li>
            <li class=""><a href="#drinks" data-toggle="tab" aria-expanded="false">Drinks</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="burgers">
                <div class="row">
                    <div class="col-xs-3"><label>Item</label></div>
                    <div class="col-xs-3"><label>Price</label></div>
                    <div class="col-xs-3"><label>Quantity</label></div>
                    <div class="col-xs-3"></div>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Category == "burgers")
                    {
                        <form action="@Url.Action("UpdateMenuItem", "Home", new { id = item.ID })" method="post" name="amount" class="formPadding row">
                            <div class="form-row">
                                <div class="col-xs-3">@item.ItemName</div>
                                <div class="col-xs-3">$@item.Price</div>
                                <div class="col-xs-3">
                                    <input required autocomplete="off" class="form-control" min="1" max="@item.Inventory" name="quantity" type="number" value="1" />
                                </div>
                                <div class="col-xs-3">
                                    <input class="btn btn-primary" type="submit" value="Add to Cart" />
                                </div>
                            </div>
                        </form>
                    }
                }
            </div>
            <div class="tab-pane fade" id="sides">
                <div class="row">
                    <div class="col-xs-3"><label>Item</label></div>
                    <div class="col-xs-3"><label>Price</label></div>
                    <div class="col-xs-3"><label>Quantity</label></div>
                    <div class="col-xs-3"></div>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Category == "sides")
                    {
                        <form action="@Url.Action("UpdateMenuItem", "Home", new { id = item.ID })" method="post" class="formPadding row">
                            <div class="form-row">
                                <div class="col-xs-3">@item.ItemName</div>
                                <div class="col-xs-3">$@item.Price</div>
                                <div class="col-xs-3">
                                    <input required autocomplete="off" class="form-control" min="1" max="@item.Inventory" name="quantity" type="number" value="1" />
                                </div>
                                <div class="col-xs-3">
                                    <input class="btn btn-primary" type="submit" value="Add to Cart" />
                                </div>
                            </div>
                        </form>
                    }
                }
            </div>
            <div class="tab-pane fade" id="drinks">
                <div class="row">
                    <div class="col-xs-3"><label>Item</label></div>
                    <div class="col-xs-3"><label>Price</label></div>
                    <div class="col-xs-3"><label>Quantity</label></div>
                    <div class="col-xs-3"></div>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Category == "drinks")
                    {
                        <form action="@Url.Action("UpdateMenuItem", "Home", new { id = item.ID })" method="post" class="formPadding row">
                            <div class="form-row">
                                <div class="col-xs-3">@item.ItemName</div>
                                <div class="col-xs-3">$@item.Price</div>
                                <div class="col-xs-3">
                                    <input required autocomplete="off" class="form-control" min="1" max="@item.Inventory" name="quantity" type="number" value="1" />
                                </div>
                                <div class="col-xs-3">
                                    <input class="btn btn-primary" type="submit" value="Add to Cart" />
                                </div>
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-4 jumbotron">
        <h4 class="text-center">Order Details</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th>Item Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Quantity != 0)
                    {
                        <tr>
                            <td>@item.Quantity</td>
                            <td>@item.ItemName</td>
                            <td>@item.Subtotal</td>
                            <td>
                                <form action="@Url.Action("DeleteMenuItem", "Home", new { id = item.ID })" method="post">
                                    <button type="submit" class="close" aria-label="Close">
                                        <span aria-hidden="true" class="text-danger">&times;</span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                @{
                    decimal orderSubtotal = 0.0m;
                    foreach (var item in Model)
                    {
                        orderSubtotal += item.Subtotal;
                    }
                }
                <tr>
                    <td>SUBTOTAL</td>
                    <td></td>
                    <td class="pull-right">@string.Format("{0:C}", orderSubtotal)</td>
                </tr>
                @{
                    decimal orderTax = 0.0m;
                    foreach (var item in Model)
                    {
                        var itemTax = item.Subtotal * item.Tax;
                        orderTax += itemTax;
                    }
                }
                <tr>
                    <td>TAX</td>
                    <td></td>
                    <td class="pull-right">@string.Format("{0:C}", orderTax)</td>
                </tr>
                <tr>
                    <td>TOTAL</td>
                    <td></td>
                    <td class="pull-right">@string.Format("{0:C}", (orderSubtotal + orderTax))</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <form action="@Url.Action("OrderDetails", "Order",
                 new { subtotal = orderSubtotal, tax = orderTax, total = (orderTax + orderSubtotal) })" method="post">
            <button type="submit" class="btn btn-info">Place Order</button>
        </form>
    </div>
</div>



